@import url(https://fonts.googleapis.com/css?family=Inter:regular,700,&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #49515a;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 71.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: block;
  margin: 0 auto;
  max-width: 20.625rem;
  text-align: center;
  padding: 0.625rem 1.875rem;
  line-height: 1.1818181818;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #2e4368;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
@media (min-width: 73.125em) {
  .button {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .button {
    font-size: clamp( 1.1875rem , 1.1169117647rem  +  0.3529411765vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .button {
    font-size: 1.1875rem;
  }
}
.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header__logo {
  background-image: url(../img/header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
@media (min-width: 73.125em) {
  .header__logo {
    width: 75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .header__logo {
    width: clamp( 20rem , -0.7058823529rem  +  103.5294117647vw , 75rem );
  }
}
@media (max-width: 20em) {
  .header__logo {
    width: 20rem;
  }
}
@media (min-width: 73.125em) {
  .header__logo {
    height: 28.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .header__logo {
    height: clamp( 7.6875rem , -0.2419117647rem  +  39.6470588235vw , 28.75rem );
  }
}
@media (max-width: 20em) {
  .header__logo {
    height: 7.6875rem;
  }
}
.header__page {
  background-color: #2e4368;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 73.125em) {
  .menu__list {
    height: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .menu__list {
    height: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .menu__list {
    height: 1.875rem;
  }
}
@media (max-width: 29.99875em) {
  .menu__list {
    justify-content: space-between;
    font-size: 0.875rem;
  }
}
.menu__link {
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 73.125em) {
  .menu__link {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .menu__link {
    font-size: clamp( 0.875rem , 0.7338235294rem  +  0.7058823529vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .menu__link {
    font-size: 0.875rem;
  }
}

@media (min-width: 73.125em) {
  .footer_title-page {
    height: 2.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .footer_title-page {
    height: clamp( 2.3125rem , 2.1477941176rem  +  0.8235294118vw , 2.75rem );
  }
}
@media (max-width: 20em) {
  .footer_title-page {
    height: 2.3125rem;
  }
}

.footer__body {
  padding: 1.25rem 0;
}
.footer__body p:last-child {
  padding-bottom: 0.9375em;
  border-bottom: 1px solid rgba(73, 81, 90, 0.51);
}
.footer__information {
  font-weight: 400;
  line-height: 1.1666666667;
}
@media (min-width: 73.125em) {
  .footer__information {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .footer__information {
    font-size: clamp( 0.75rem , 0.6088235294rem  +  0.7058823529vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .footer__information {
    font-size: 0.75rem;
  }
}
.footer__information p {
  padding-bottom: 1.25rem;
}

h2 {
  font-weight: 700;
  text-align: center;
}
@media (min-width: 73.125em) {
  h2 {
    font-size: 1.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  h2 {
    font-size: clamp( 0.9375rem , 0.7963235294rem  +  0.7058823529vw , 1.3125rem );
  }
}
@media (max-width: 20em) {
  h2 {
    font-size: 0.9375rem;
  }
}

p {
  font-weight: 400;
  line-height: 1.25;
}
@media (min-width: 73.125em) {
  p {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  p {
    font-size: clamp( 0.875rem , 0.7338235294rem  +  0.7058823529vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  p {
    font-size: 0.875rem;
  }
}
p:not(:last-child) {
  margin-bottom: 0.9375em;
}

i {
  font-weight: 400;
  line-height: 1.1666666667;
}
@media (min-width: 73.125em) {
  i {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  i {
    font-size: clamp( 0.75rem , 0.6088235294rem  +  0.7058823529vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  i {
    font-size: 0.75rem;
  }
}

._page {
  background: #2e4368;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font-weight: 700;
  line-height: 1.1666666667;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.9375rem;
}
@media (min-width: 73.125em) {
  h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  h1 {
    font-size: clamp( 1.125rem , 0.9838235294rem  +  0.7058823529vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  h1 {
    font-size: 1.125rem;
  }
}

span {
  font-weight: 600;
}

._body {
  padding: 0.9375rem 0 2.5rem 0;
}
@media (min-width: 61.99875em) {
  ._body {
    padding: 1.875rem 0 3.125rem 0;
  }
}

.greeting-colleagues__body {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
}
@media (max-width: 61.99875em) {
  .greeting-colleagues__body {
    gap: 0.9375rem;
  }
}
.greeting-colleagues__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
}
@media (max-width: 29.99875em) {
  .greeting-colleagues__content {
    gap: 0.3125rem;
  }
}
@media (min-width: 73.125em) {
  .greeting-colleagues__img img {
    width: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .greeting-colleagues__img img {
    width: clamp( 5rem , 3.3529411765rem  +  8.2352941176vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .greeting-colleagues__img img {
    width: 5rem;
  }
}
@media (min-width: 73.125em) {
  .greeting-colleagues__img img {
    height: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .greeting-colleagues__img img {
    height: clamp( 5rem , 3.3529411765rem  +  8.2352941176vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .greeting-colleagues__img img {
    height: 5rem;
  }
}

@media (min-width: 73.125em) {
  .about-us__body {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .about-us__body {
    padding-top: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .about-us__body {
    padding-top: 1.875rem;
  }
}
@media (min-width: 73.125em) {
  .about-us__body {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .about-us__body {
    padding-bottom: clamp( 2.5rem , 2.0294117647rem  +  2.3529411765vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .about-us__body {
    padding-bottom: 2.5rem;
  }
}
.about-us__content {
  display: flex;
}
@media (min-width: 73.125em) {
  .about-us__content {
    gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .about-us__content {
    gap: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .about-us__content {
    gap: 0.625rem;
  }
}

.content-about:not(:last-child) {
  margin-bottom: 1.25em;
}
.content-about__img img {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 13px 49px rgba(140, 182, 252, 0.3);
  border-radius: 50%;
}
@media (min-width: 73.125em) {
  .content-about__img img {
    width: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-about__img img {
    width: clamp( 4.375rem , 3.6691176471rem  +  3.5294117647vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .content-about__img img {
    width: 4.375rem;
  }
}
@media (min-width: 73.125em) {
  .content-about__img img {
    height: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-about__img img {
    height: clamp( 4.375rem , 3.6691176471rem  +  3.5294117647vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .content-about__img img {
    height: 4.375rem;
  }
}
@media (min-width: 73.125em) {
  .content-about__img img {
    padding: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-about__img img {
    padding: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .content-about__img img {
    padding: 0.625rem;
  }
}

@media (min-width: 73.125em) {
  .getting-knowledge__content {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .getting-knowledge__content {
    padding-top: clamp( 2.1875rem , 1.8345588235rem  +  1.7647058824vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .getting-knowledge__content {
    padding-top: 2.1875rem;
  }
}
@media (min-width: 73.125em) {
  .getting-knowledge__content {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .getting-knowledge__content {
    padding-bottom: clamp( 2.5rem , 2.0294117647rem  +  2.3529411765vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .getting-knowledge__content {
    padding-bottom: 2.5rem;
  }
}

.content-getting__cart {
  display: flex;
  align-items: center;
}
.content-getting__cart:not(:last-child) {
  margin-bottom: 1.25em;
}
@media (min-width: 73.125em) {
  .content-getting__cart {
    gap: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-getting__cart {
    gap: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .content-getting__cart {
    gap: 1.875rem;
  }
}
@media (min-width: 73.125em) {
  .content-getting__img img {
    width: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-getting__img img {
    width: clamp( 2.5rem , 2.0294117647rem  +  2.3529411765vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .content-getting__img img {
    width: 2.5rem;
  }
}
@media (min-width: 73.125em) {
  .content-getting__img img {
    height: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-getting__img img {
    height: clamp( 2.5rem , 2.0294117647rem  +  2.3529411765vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .content-getting__img img {
    height: 2.5rem;
  }
}
.content-getting__img {
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 13px 49px rgba(140, 182, 252, 0.3);
}
@media (min-width: 73.125em) {
  .content-getting__img {
    padding: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-getting__img {
    padding: clamp( 0.625rem , 0.5073529412rem  +  0.5882352941vw , 0.9375rem );
  }
}
@media (max-width: 20em) {
  .content-getting__img {
    padding: 0.625rem;
  }
}

.open-webinar__text h2 {
  text-align: inherit;
  margin-bottom: 0.9375em;
}
@media (min-width: 73.125em) {
  .open-webinar__video {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .open-webinar__video {
    padding-bottom: clamp( 2.5rem , 2.0294117647rem  +  2.3529411765vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .open-webinar__video {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 73.125em) {
  .video-webinar__poster img {
    height: 39rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .video-webinar__poster img {
    height: clamp( 10rem , -0.9176470588rem  +  54.5882352941vw , 39rem );
  }
}
@media (max-width: 20em) {
  .video-webinar__poster img {
    height: 10rem;
  }
}
.video-webinar__poster {
  width: 100%;
}

.leading-lecturers__title {
  margin-bottom: 0.9375em;
}

.content-lecturers__title {
  margin-bottom: 1.25em;
}
@media (min-width: 73.125em) {
  .content-lecturers__cards {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-lecturers__cards {
    padding-bottom: clamp( 2.5rem , 2.0294117647rem  +  2.3529411765vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .content-lecturers__cards {
    padding-bottom: 2.5rem;
  }
}
.content-lecturers__card {
  display: flex;
  align-items: center;
}
@media (min-width: 73.125em) {
  .content-lecturers__card {
    gap: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-lecturers__card {
    gap: clamp( 0.9375rem , 0.1139705882rem  +  4.1176470588vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .content-lecturers__card {
    gap: 0.9375rem;
  }
}
.content-lecturers__card:not(:last-child) {
  margin-bottom: 1.4347826087em;
}
.content-lecturers__img img {
  border-radius: 50%;
}
@media (min-width: 73.125em) {
  .content-lecturers__img img {
    width: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-lecturers__img img {
    width: clamp( 5.625rem , 4.2132352941rem  +  7.0588235294vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .content-lecturers__img img {
    width: 5.625rem;
  }
}
@media (min-width: 73.125em) {
  .content-lecturers__img img {
    height: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-lecturers__img img {
    height: clamp( 5.625rem , 4.2132352941rem  +  7.0588235294vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .content-lecturers__img img {
    height: 5.625rem;
  }
}

.content-card h2 {
  text-align: inherit;
}

.reviews-doctors__cards {
  padding-bottom: 2.5rem;
}
.reviews-doctors__card {
  padding: 0.9375rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.reviews-doctors__card:not(:last-child) {
  margin-bottom: 1.4347826087em;
}
.reviews-doctors__social {
  display: flex;
  justify-content: center;
}
@media (min-width: 73.125em) {
  .reviews-doctors__social {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .reviews-doctors__social {
    gap: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .reviews-doctors__social {
    gap: 1.25rem;
  }
}

.social-network__img img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (min-width: 73.125em) {
  .social-network__img img {
    width: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .social-network__img img {
    width: clamp( 3.4375rem , 2.6139705882rem  +  4.1176470588vw , 5.625rem );
  }
}
@media (max-width: 20em) {
  .social-network__img img {
    width: 3.4375rem;
  }
}
@media (min-width: 73.125em) {
  .social-network__img img {
    height: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .social-network__img img {
    height: clamp( 3.4375rem , 2.6139705882rem  +  4.1176470588vw , 5.625rem );
  }
}
@media (max-width: 20em) {
  .social-network__img img {
    height: 3.4375rem;
  }
}
